version: "3.9"

services:
  api:
    build: ./
    container_name: social_marketing_api
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    restart: always
    volumes:
      - ./src:/app

  mongo:
    image: mongo:6
    container_name: social_marketing_mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: social_marketing
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
